<main class="d-flex flex-nowrap h-100">
    <div class="d-flex flex-column flex-shrink-0 bg-dark">
        <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
            <li>
                <button (click)="openAssistantRole(null)" class="nav-link border-bottom rounded-0" aria-current="page"
                    [routerLink]='["/home","assistant"]' routerLinkActive="active"  [routerLinkActiveOptions]="{exact: true}" title="Assistant"
                    data-bs-toggle="tooltip" data-bs-placement="right">
                    <i class="bi bi-chat"></i>
                </button>
            </li>
            <li *ngFor="let shortcut of assistantShortcuts">
                <button (click)="openAssistantRole(shortcut)" class="nav-link border-bottom rounded-0"
                    aria-current="page" [routerLink]='["/home", shortcut.name]' routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [title]="shortcut.name"
                    data-bs-toggle="tooltip" data-bs-placement="right">
                    <i class="bi {{shortcut.icon}}"></i>
                </button>
            </li>
            <li>
                <a routerLink="/aiDevTasks" routerLinkActive="active" class="nav-link border-bottom rounded-0" title="Tasks"
                    data-bs-toggle="tooltip" data-bs-placement="right">
                    <i class="bi bi-list-check"></i>
                </a>
            </li>
        </ul>

    </div>
    <div class="flex-fill">
        <router-outlet></router-outlet>
    </div>
</main>