<main class="d-flex flex-nowrap h-100">
    <div class="d-flex flex-column flex-shrink-0 bg-dark">
        <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
            <li class="nav-item">
                <a routerLink="/home" class="nav-link active border-bottom rounded-0" aria-current="page" title="Home"
                    data-bs-toggle="tooltip" data-bs-placement="right">
                    <svg class="bi pe-none" width="24" height="24" role="img" aria-label="Home">
                    </svg>
                </a>
            </li>
            <li>
                <a routerLink="/aiDevTasks" class="nav-link border-bottom rounded-0" title="Dashboard" data-bs-toggle="tooltip"
                    data-bs-placement="right">
                    <svg class="bi pe-none" width="24" height="24" role="img" aria-label="Dashboard">
                    </svg>
                </a>
            </li>
        </ul>

    </div>
    <div class="flex-fill">
        <router-outlet></router-outlet>
    </div>
</main>