<div class="main-container flex-fill">
  <div class="w-100 p-3 flex-fill overflow-auto flex flex-column-reverse" style="display: flex">
    <code style="white-space: break-spaces;">
    <div *ngFor="let message of currentState?.messages" class="w-100 mb-1" [ngClass]="{'chat-not-assistant': message.role !== 'assistant'}">
      <span *ngIf="message.role === 'system'" class="">system ({{currentState?.model}}): {{message.content}}</span>
      <div *ngIf="message.role !== 'system'" class="font-bold">{{message.role === 'assistant' ? 'Ben' :
        'You'}}: {{message.content}}</div>
    </div>
    </code>
  </div>

  <div class="flex flex-col w-100 p-3 pt-0" style="margin-top: -15px;">
    <div class="collapse" id="collapseApiKey">
      <div class="input-group w-100 py-1">
        <input class="form-control" placeholder="OpenAI API Key" type="text" (blur)="updateApiKey($event)"
          [value]="currentState?.apiKey">
      </div>
    </div>

    <div class="input-group w-100 py-1">
      <textarea class="form-control" aria-label="With textarea" #queryInput (change)="updateQuery($event)"
        [value]="currentState?.query" placeholder="Ask me anything..." name="prompt" id="" rows="4"></textarea>
    </div>
    <div class="d-flex flex-row w-100">
      <button class="btn btn-primary w-25 my-2 me-auto" (click)="ask()">
        Send
      </button>
      <button class="btn btn-dark" type="button" (click)="copyToClipboard()"
      aria-expanded="false" aria-controls="copyToClipboard">
      <i class="bi bi-clipboard2-plus"></i>
    </button>
      <button class="btn btn-dark" type="button" aria-expanded="false" data-bs-toggle="collapse" data-bs-target="#collapseApiKey" aria-controls="collapseApiKey" >
        API Key
      </button>

    </div>
  </div>
</div>
